<section id="logos" class="portfolio wrapper style5">
  <div class="container">
    <div class="row">
      <div class="">
        <h2>Powered by</h2>
        <div class="row wrapper">
            <div class="portfolio-item">
              <a href="http://od4d.net/">
                <img class="img-portfolio img-responsive" src="assets/images/od4d.png">
              </a>
            </div>
            <div class="portfolio-item">
              <a href="http://worldbank.org">
                <img class="img-portfolio img-responsive" src="assets/images/WB.png">
              </a>
            </div>
            <div class="portfolio-item">
              <a href="https://www.canada.ca/en.html">
                <img class="img-portfolio img-responsive" src="assets/images/sig-eng.png">
              </a>
            </div>
            <div class="portfolio-item">
              <a href="https://www.idrc.ca/">
                <img class="img-portfolio img-responsive" src="assets/images/idrc.png">
              </a>
            </div>
            <div class="portfolio-item">
              <a href="https://www.gov.uk/government/organisations/department-for-international-development">
                <img class="img-portfolio img-responsive" src="assets/images/UKaid.png">
              </a>
            </div>
            <div class="portfolio-item">
              <a href="http://webfoundation.org/">
                <img class="img-portfolio img-responsive" src="assets/images/wf.png">
              </a>
            </div>
          <div class="portfolio-item">
              <a href="https://www.fabriders.net/">
                <img class="img-portfolio img-responsive" src="assets/images/fabriders.png">
              </a>
          </div>
            <div class="portfolio-item">
              <a href="https://okfn.org/">
                <img class="img-portfolio img-responsive" src="assets/images/oki.png">
              </a>
            </div>
            <div class="portfolio-item">
              <a href="https://civica.digital/">
                <img class="img-portfolio img-responsive" src="assets/images/civica.png">
              </a>
            </div>
            <div class="portfolio-item">
              <a href="http://opendatacon.org/">
                <img class="img-portfolio img-responsive" src="assets/images/iodc.png">
              </a>
          </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
