<!-- Nav -->
	<nav id="nav">
		<ul>
			{% assign current = page.url | downcase | split: '/' %}
			<li {% if current[1] == 'index.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/index.html">Home</a></li>
			<li>
				<a href="../about.html">About the Unconference</a>
				<ul>
					<li><a href="../about.html#whatisopenex">What is The Open Exchange?</a></li>
					<li><a href="../about.html#whatis">What is an Unconference</a></li>
					<li><a href="../about.html#whocan">Who can participate?</a></li>
					<li><a href="../about.html#whois">Who is behind the Open Exchange?</a></li>
					<li>
							<a href="../about.html#buddies">The Buddy system</a>
							<ul>
								<li><a href="../about.html#facilitate">...And learn facilitation skills!</a></li>
							</ul>
					</li>
					<li><a href="../about.html#shareideas">I have a new idea/question/feedback.</a></li>
				</ul>
			</li>
			<li {% if current[1] == 'left-sidebar.html' %}class='current'{% endif %}><a href="https://goo.gl/forms/oLQtHdW91w9CSCC72">Sign Up</a></li>
			<li {% if current[1] == 'left-sidebar.html' %}class='current'{% endif %}><a href="https://goo.gl/forms/NsJmkutuVchRhQws1">Learn to facilitate</a></li>

				<!--<li {% if current[1] == 'blog' %}class='current'{% endif %}><a href="{{ site.baseurl }}/blog">Blog</a></li>
			<li {% if current[1] == 'left-sidebar.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/left-sidebar.html">Left Sidebar</a></li>
			<li {% if current[1] == 'right-sidebar.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/right-sidebar.html">Right Sidebar</a></li>
			<li {% if current[1] == 'no-sidebar.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/no-sidebar.html">No Sidebar</a></li> -->
		</ul>
	</nav>
