---
layout: default
---

<!-- Header -->
			<div id="header">
				<div class="container">

					<!-- Logo -->
					<div class=logo><img src="assets/images/logo.jpg" id="logo"></div>

					{% include nav.html %}

					<!-- Banner -->
						<div id="banner">
							<div class="container">
								<section>
									<header class="major">
										<h2>The Open Data and Social Change Fest</h2>
											<span class="byline">October 4, 2016</span>
									</header>
									<a href="#" class="button alt">Sign Up</a>
								</section>
							</div>
						</div>

				</div>
			</div>

		<!-- Featured -->
			<div class="wrapper style2">
				<section class="container">
					<header class="major">
						<h2>What is the Open Data and Social Change Fest?</h2>
						<span class="byline">Previously known as the IODC Unconference, the
							Fest will be a space where we can exchange experiences and learn from each other in a safe, horizontal space</span>
					</header>
					<div class="row no-collapse-1">
						<section class="4u">
							<h3>Ok, so what's an Unconference then?</h3>
							<p>An unconference is an open event that allows its members to propose their own topics for discussion
							in an open and horizontal way</p>
						</section>
						<section class="4u">
							<h3>And why do an Unconference?</h3>
							<p>Conferences are a great place for networking, learning different topics and sharing achievements (and sometimes even failures), but in their nature, they are organised in a way that is less participatory and more broadcast than an exchange of information.
</p>
						</section>
						<section class="4u">
							<h3>Can I attend?</h3>
							<p>If you will attend IODC, you can definitely come to the Open Data and Social Impact Fest! We can't provide travel support, so you need to take that into account before signing up</p>
						</section>

					</div>
				</section>
			</div>

	{{ content }}
