---
layout: default
---

<!-- Header -->
			<div id="header">
				<div class="container">

					<!-- Logo -->
					<div class=logo><img src="assets/images/logo.jpg" id="logo"></div>

					{% include nav.html %}

					<!-- Banner -->
						<div id="banner">
							<div class="container">
								<section>
									<header class="major">
										<h2>The Open Exchange for Social Change</h2>
											<span class="byline">An Unconferece. October 4, Madrid</span>
									</header>
									<a href="#" class="button alt">Sign Up</a>
								</section>
							</div>
						</div>

				</div>
			</div>


<!-- Whatis -->
<div id="main" class="wrapper style2">
	<section class="container">
		<header class="major">
			<h2>IODC Unconference</h2>
			<span class="byline">A Social Change fest</span>
		</header>
		<div class="row">

			<!-- Content -->
				<div class="6u">
					<section>
						<ul class="style">
							<li>
								<span class="fa fa-chevron-right"></span>
								<h3>What is the IODC Unconference?</h3>
								<span>The IODC Unconference, is a space where we can exchange experiences and learn from each other in a safe, horizontal space</span>
							</li>
						</ul>
					</section>
				</div>
				<div class="6u">
					<section>
						<ul class="style">
							<li>
								<span class="fa fa-chevron-right"></span>
								<h3>Why an Unconference?</h3>
								<span>Conferences are a great place for networking and learning different topics, but they are organised in a way that is less participatory.
								<br>We want to complement the work being done during IODC</span>
							</li>
						</ul>
					</section>
				</div>
		</div>
	</section>
</div>

	{{ content }}
