---
layout: default
---

<!-- Header -->
			<div id="header">
				<div class="container">

					<!-- Logo -->
					<a href="http://opendatacon.org/">
					<div class=logo><img src="assets/images/logo.jpg" id="logo"></div>
					</a>

					{% include nav.html %}

					<!-- Banner -->
						<div id="banner">
							<div class="container">
								<section>
									<header class="major">
										<h2>The Open Exchange for Social Change</h2>
											<span class="byline">The International Open Data Unconference. October 4, 9:30 - 18:00, Madrid</span>
									</header>
									<a href="https://goo.gl/forms/oLQtHdW91w9CSCC72" class="button alt">Sign Up</a>
								</section>
							</div>
						</div>

				</div>
			</div>


<!-- Whatis -->
<div id="main" class="wrapper style2">
	<section class="container">
		<header class="major">
			<h2>About The Open Exchange</h2>
			<span class="byline"></span>
		</header>
		<div class="row">

			<!-- Content -->
				<div class="6u">
					<section>
						<ul class="style">
							<li>
								<span class="fa fa-chevron-right"></span>
								<h3>What is The Open Exchange?</h3>
								<div class=square>
									<span>The Open Exchange, also known as the IODC Unconference, is a space where we can exchange experiences and learn from each other in a safe, horizontal manner. Conferences are a great place for hearing from thought leaders and networking during the breaks, but they are organised in a way that is less participatory that doesn’t maximise the knowledge of the participants.  The Open Exchange will complement and contribute to the IODC.</span>
								</div>
							</li>
						</ul>
					</section>
				</div>
				<div class="6u">
					<section>
						<ul class="style">
							<li>
								<span class="fa fa-chevron-right"></span>
								<h3>Why Social Change?</h3>
								<div class=square>
								<span> We  want to get past the limitations of focusing on ‘Open Data’ itself and instead focus on the change we are so passionately involved in making. We want to think more clearly about the actions and activities where we utilise data and information in and how that contributes, supports or drives real positive change in our communities.</span>
								</div>
							</li>
						</ul>
					</section>
				</div>
		</div>
	</section>
</div>

	{{ content }}
